<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fatbat</title>
    <link rel="icon" href="../img/favicon.ico">
    <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<style>

    .chart rect {
        fill: steelblue;
    }

    .chart text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
    }

</style>

<body>
the bitcave

<svg class="chart"></svg>
</body>

<script>

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    callback = function(data) {
        var parsed = JSON.parse(data);
        var dataset = parsed['activities-heart-intraday']['dataset'].slice();
        var width = 420, barHeight = 10;
        var valueFn = function(d) {
            d.value = +d.value;
            return d.value;
        };

        var x = d3.scale.linear()
                .domain([0, d3.max(dataset, valueFn)])
                .range([0, width]);

        var chart = d3.select(".chart")
                .attr("width", width)
                .attr("height", barHeight * dataset.length);

        var bar = chart.selectAll("g")
                .data(dataset)
                .enter().append("g")
                .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

        bar.append("rect")
                .attr("width", function(d) { return x(d.value); })
                .attr("height", barHeight - 1);

        bar.append("text")
                .attr("x", function(d) { return x(d.value) - 3; })
                .attr("y", barHeight / 2)
                .attr("dy", ".35em")
                .text(function(d) { return d.value+d.time; });
    };

    $(document).ready(function(){
        var user_id         = getParameterByName('user_id');
        var access_secret   = getParameterByName('access_token');
        $('body').append('<p>'+user_id+'</p>')
                 .append('<p>'+access_secret+'</p>');
//        $.get("/user", { access_secret: access_secret, user_id : user_id }, callback);

//        $.get("/data", { access_secret: access_secret, user_id : user_id }, callback);

        $.get("/heartrate", { access_secret: access_secret, user_id : user_id }, callback);
    });

</script>


</html>
