.header-menu {
  padding: 30px;
  float: right;
}

$transition-duration: 0.1s;

.menu-dropdown-content {
  visibility: hidden;
  position: relative;
  float: right;
  z-index: 1;
  padding: 1px 30px;
  background: $text-on-color;
  -webkit-transition: visibility $transition-duration, opacity $transition-duration linear;
  transition: visibility $transition-duration, opacity $transition-duration linear;
  opacity: 0;
  border: 3px solid $nice1;
  border-radius: 3%;
  box-shadow: 1px 1px 5px #aaa;
}

.dropdown-is-active {
  visibility: visible;
  opacity: 1;
}
