@import 'variables';

div.header {
  background: $primary-color;
  padding-left: 10%;
  overflow: hidden;
  margin: 0;
}

.header-title {
  color: $text-on-color;
  font-weight: 400;
  margin-top: 21px;
  float: left;
}

.header-profile-name {
  color: $text-on-color;
  font-weight: 400;
  //font-weight: 500;
  margin-right: 20px;
  margin-top: 19px;
  float: left;
}

.header-profile-avatar {
  margin-top: 3px;
  border-radius: 100%;
  border: 2px solid $background-middle;
  opacity: 0.9;
}

.header-profile-avatar:hover {
  border-radius: 100%;
  border: 2px solid $background-middle;
  box-shadow: 1px 1px 10px #aaa;
  opacity: 1;
  //-webkit-transform: scale(1.05);
  //-ms-transform: scale(1.05);
  //transform: scale(1.05);
}

div.profile {
  padding: 10px;
  float: right;
}
