@import 'variables';

div.header {
  background: $primary-color;
  padding-left: 30px;
  overflow: hidden;
  margin: 0;
  border-bottom: 5px solid $secondary-color;
}

.header-title {
  color: $text-on-color;
  font-weight: 300;
  margin-top: 21px;
  float: left;
}

.header-profile-name {
  color: $text-on-color;
  font-weight: 300;
  margin-right: 20px;
  margin-top: 19px;
  float: left;
}

.header-profile-avatar {
  margin-top: 3px;
  border-radius: 100%;
  border: 2px solid $background-middle;
  opacity: 0.9;
}

.header-profile-avatar:hover {
  border-radius: 100%;
  border: 2px solid $background-middle;
  box-shadow: 1px 1px 10px #aaa;
  opacity: 1;
}

.profile {
  padding: 10px;
  float: right;
}
