@import 'variables';

.signin {
  background-color: $background-light;
  margin: 15% auto;
  width: 25%;
  padding: 20px;
  //border: 3px solid $primary-color;
  border-radius: 5px;
  box-shadow: 1px 1px 5px $primary-color;
}

.signin-title {
  color: $primary-color;
  margin-top: 0;
  text-align: center;
}

.signin-form {
  text-align: center;
}

.signin-button {
  border: 1px solid transparent;
  background: $primary-color;
  color: white;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px grey;
  transition: 0.25s;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.signin-info {
  text-align: center;
  color: $primary-color;
}

.signin-button:hover {
  color: $primary-color;
  background-color: $hover-color;
}
