$mobile-width-min: 1px;
$mobile-width-max: 375px;
$tablet-width-min: 376px;
$tablet-width-max: 940px;
$desktop-width-min: 941px;

$link-color: #e65400;

$primary-color: #16294a;
$secondary-color: #022a39;
$fitbit-green: #1cb0b8;
$fitbit-black: #022a39;
$soft-white: #e4e1de;
$tertiary-color: #00b7d6;
//$tertiary-color: #e65400;
