$mobile-width-min: 1px;
$mobile-width-max: 420px;
$tablet-width-min: 420px;
$tablet-width-max: 800px;
$desktop-width-min: 800px;

$nice1: #e37461;
$nice2: #1a3a5f;
$nice3: #e9936f;
$nice4: #2f83a0;
$nice5: #26a7bc;
$nice6: #efd995;
$nice7: #d99778;

$text-on-color: #fff;

$primary-color: #223;
$secondary-color: #e9936f;
$tertiary-color: #38495f;
$background-middle: #d5dae6;
$background-light: #eef2f9;

//$primary-color: #2a4469;
//$secondary-color: #24538b;
//$tertiary-color: #29abe2;
